<header>
    <form id="form12" action="POST" class="form-control m-2 p-2 mt-5" enctype="multipart/form-data">
        <div class="row mb-4">
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="text" id="form1Example1" class="form-control" placeholder="Product Name" name="productName" />
            </div>
          </div>
          <div class="col">
            <div data-mdb-input-init class="form-outline">
              <input type="number" id="form2Example2" class="form-control" placeholder="Price" name="productPrice" />
            </div>
          </div>
        </div>
      
        <div data-mdb-input-init class="form-outline mb-4 vw-80">
          <label class="form-label" for="form3Example3"><div class="m-1">Product Description</div> </label>
          <textarea id="form3Example3" class="d-block form-control" name="productDescription"></textarea>
        </div>
      
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="file" id="form4Example4" class="form-control" accept=".png, .jpg, .jpeg" name="productImagePath"/>
          <label class="form-label m-1" for="form4Example4">Product Image</label>
        </div>
      
        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4" id="submitBtn">Add Product</button>
      </form>
</header>